body {
  background-color: rgb(38, 0, 0);
}

.location {
  height: 110px;
  background-color: rgb(140, 0, 0);
  border: 4mm ridge rgba(100, 0, 0, 0.6);
  border-radius: 10px;
}

.shadow {
  text-shadow: 2px 2px #000000;
}